<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>score</title>

    <!-- css stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css\secrets.css">

  <!-- font awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


   <!-- bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning heading py-2">
            <a class="navbar-brand CRICK_TECH pl-2" style="color: black;" href="/">CRICK_TECH</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto items">
                <li class="nav-item">
                  <a class="Logout nav-link pl-lg-5 pr-lg-3 pl-2" style="color: black;" href="/logout" role="button">Log Out</a>
                </li>
              </ul>
            </div>
        </nav>
    </div>

    <div class="date">
        <form action="/secrets" method="post">
            <input type="date" name="date">
            <button type="submit" class="btn btn-primary submit-button">submit</button>
        </form>
    </div>
    <div class="matches table-responsive">
          <table class="table table1 table-bordered">
            <!-- <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Venue</th>
              </tr>
            </thead> -->
            <tbody>
              <tr class="tr1">
                <td class="tablehead td1" scope="col">id</td>
                <% matchidsejs.forEach((matchid) => { %>
                    <td class="td1"><%=matchid%></td>
                <% }); %>
              </tr>
              <tr class="tr1">
                <td class="tablehead td1" scope="col">Name</td>
                <% matchtitlesejs.forEach((matchtitle) => { %>
                    <td class="td1"><%=matchtitle%></td>
                <% }); %>
              </tr>
              <tr class="tr1">
                <td class="tablehead td1" scope="col">Date</td>
                <% matchdatesejs.forEach((matchdate) => { %>
                  <td class="td1"><%=matchdate%></td>
              <% }); %>
              </tr>
              <tr class="tr1">
                <td class="tablehead td1" scope="col">Venue</td>
              <% matchvenuesejs.forEach((matchvenue) => { %>
                <td class="td1"><%=matchvenue%></td>
            <% }); %>
              </tr>
            </tbody>
          </table>
    </div>


    <div class="date">
      <form action="/secrets" method="post">
          <input type="text" name="matchid">
          <button type="submit" class="btn btn-primary submit-button">submit</button>
      </form>
    </div>


    <div class="matches table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>match title</th>
            <td colspan="3"><%= matchtitleejs %></td>
          </tr>
          <tr>
            <th>venue</th>
            <td colspan="3"><%= matchvenue1ejs %></td>
          </tr>
          <tr>
            <th>subtitle</th>
            <td><%= matchsubtitleejs %></td>
            <th>toss</th>
            <td><%= matchtossejs %></td>
          </tr>
          <tr>
            <th>start date</th>
            <td><%= matchstartdateejs %></td>
            <th>end date</th>
            <td><%= matchenddateejs %></td>
          </tr>
          <tr>
            <th>away name</th>
            <td><%= matchawaynameejs %></td>
            <th>home name</th>
            <td><%= matchhomenameejs %></td>
          </tr>
          <tr>
            <th>status</th>
            <td colspan="3"><%= matchstatusejs %></td>
          </tr>
          <tr>
            <th>away score</th>
            <td><%= matchawayscoreejs %></td>
            <th>home score</th>
            <td><%= matchhomescoreejs %></td>
          </tr>
          <tr>
            <th>referee name</th>
            <td><%= matchrefereenameejs %></td>
            <th>umpire 1 name</th>
            <td><%= matchumpire1nameejs %></td>
          </tr>
          <tr>
            <th>umpire 2 name</th>
            <td><%= matchumpire2nameejs %></td>
            <th>umpire reserve name</th>
            <td><%= matchumpirereservenameejs %></td>
          </tr>
          <tr>
            <th>umpire tv name</th>
            <td><%= matchumpiretvnameejs %></td>
            <th>umpire 5 name</th>
            <td></td>
          </tr>
          </tbody>
          </table>
          </div>
          <div class="matches table-responsive">
            <table class="table table1 table-bordered">
              <tbody>
          <tr>
            <th>Team Name</th>
            <td><%= matchteamname1ejs %></td>
            <th>innings number</th>
            <td><%= matchteaminnings1ejs %></td>
          </tr>
          <tr>
            <th>runs</th>
            <td><%= matchruns1ejs %></td>
            <th>overs</th>
            <td><%= matchovers1ejs %></td>
          </tr>
          <tr>
            <th>wickets</th>
            <td><%= matchwickets1ejs %></td>
            <th>current</th>
            <td><%= matchcurrent1ejs %></td>
          </tr>
          <tr>
            <th>fow</th>
            <td colspan="3"><%= matchfow1ejs %></td>
          </tr>
          <tr>
            <th>extras</th>
            <td><%= matchextras1ejs %></td>
            <th>extras details</th>
            <td><%= matchextrasdetails1ejs %></td>
          </tr>
          </tbody>
          </table>
          </div>
          <div class="matches table-responsive">
            <table class="table table1 table-bordered">
              <tbody>
          <tr>
            <th colspan="100"><%= matchteamname1ejs %> Batting</th>
          </tr>
          <tr>
            <th>Player Name</th>
            <% matchbatting1sejs.forEach((matchbatting1) => { %>
              <td><%=matchbatting1.player_name%></td>
          <% }); %>
          </tr>
          <tr>
            <th>bat order</th>
            <% matchbatting1sejs.forEach((matchbatting1) => { %>
              <td><%=matchbatting1.bat_order%></td>
          <% }); %>
          </tr>
          <tr>
            <th>balls</th>
            <% matchbatting1sejs.forEach((matchbatting1) => { %>
              <td><%=matchbatting1.balls%></td>
          <% }); %>
          </tr>
          <tr>
            <th>runs</th>
            <% matchbatting1sejs.forEach((matchbatting1) => { %>
              <td><%=matchbatting1.runs%></td>
          <% }); %>
          </tr>
          <tr>
            <th>fours</th>
            <% matchbatting1sejs.forEach((matchbatting1) => { %>
              <td><%=matchbatting1.fours%></td>
          <% }); %>
          </tr>
          <tr>
            <th>sixes</th>
            <% matchbatting1sejs.forEach((matchbatting1) => { %>
              <td><%=matchbatting1.sixes%></td>
          <% }); %>
          </tr>
          <tr>
            <th>how out</th>
            <% matchbatting1sejs.forEach((matchbatting1) => { %>
              <td><%=matchbatting1.how_out%></td>
          <% }); %>
          </tr>
          <tr>
            <th>strike rate</th>
            <% matchbatting1sejs.forEach((matchbatting1) => { %>
              <td><%=matchbatting1.strike_rate%></td>
          <% }); %>
          </tr>
          </tbody>
          </table>
          </div>
          <div class="matches table-responsive">
            <table class="table table1 table-bordered">
              <tbody>
          <tr>
            <th colspan="100"><%= matchteamname1ejs %> Bowling</th>
          </tr>
          <tr>
            <th>player name</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.player_name%></td>
          <% }); %>
          </tr>
          <tr>
            <th>Wickets</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.wickets%></td>
          <% }); %>
          </tr>
          <tr>
            <th>dot balls</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.dot_balls%></td>
          <% }); %>
          </tr>
          <tr>
            <th>economy</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.economy%></td>
          <% }); %>
          </tr>
          <tr>
            <th>extras</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.extras%></td>
          <% }); %>
          </tr>
          <tr>
            <th>fours</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.fours%></td>
          <% }); %>
          </tr>
          <tr>
            <th>sixes</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.sixes%></td>
          <% }); %>
          </tr>
          <tr>
            <th>maidens</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.maidens%></td>
          <% }); %>
          </tr>
          <tr>
            <th>overs</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.overs%></td>
          <% }); %>
          </tr>
          <tr>
            <th>runs conceded</th>
            <% matchbowling1sejs.forEach((matchbowling1) => { %>
              <td><%=matchbowling1.runs_conceded%></td>
          <% }); %>
          </tr>
          </tbody>
          </table>
          </div>
          <div class="matches table-responsive">
            <table class="table table1 table-bordered">
              <tbody>
          <tr>
            <th>Team Name</th>
            <td><%= matchteamname2ejs %></td>
            <th>innings number</th>
            <td><%= matchteaminnings2ejs %></td>
          </tr>
          <tr>
            <th>runs</th>
            <td><%= matchruns2ejs %></td>
            <th>overs</th>
            <td><%= matchovers2ejs %></td>
          </tr>
          <tr>
            <th>wickets</th>
            <td><%= matchwickets2ejs %></td>
            <th>current</th>
            <td><%= matchcurrent2ejs %></td>
          </tr>
          <tr>
            <th>fow</th>
            <td colspan="3"><%= matchfow2ejs %></td>
          </tr>
          <tr>
            <th>extras</th>
            <td><%= matchextras2ejs %></td>
            <th>extras details</th>
            <td><%= matchextrasdetails2ejs %></td>
          </tr>
          </tbody>
          </table>
          </div>
          <div class="matches table-responsive">
            <table class="table table1 table-bordered">
              <tbody>
          <tr>
            <th colspan="100"><%= matchteamname2ejs %> Batting</th>
          </tr>
          <tr>
            <th>Player Name</th>
            <% matchbatting2sejs.forEach((matchbatting2) => { %>
              <td><%=matchbatting2.player_name%></td>
          <% }); %>
          </tr>
          <tr>
            <th>bat order</th>
            <% matchbatting2sejs.forEach((matchbatting2) => { %>
              <td><%=matchbatting2.bat_order%></td>
          <% }); %>
          </tr>
          <tr>
            <th>balls</th>
            <% matchbatting2sejs.forEach((matchbatting2) => { %>
              <td><%=matchbatting2.balls%></td>
          <% }); %>
          </tr>
          <tr>
            <th>runs</th>
            <% matchbatting2sejs.forEach((matchbatting2) => { %>
              <td><%=matchbatting2.runs%></td>
          <% }); %>
          </tr>
          <tr>
            <th>fours</th>
            <% matchbatting2sejs.forEach((matchbatting2) => { %>
              <td><%=matchbatting2.fours%></td>
          <% }); %>
          </tr>
          <tr>
            <th>sixes</th>
            <% matchbatting2sejs.forEach((matchbatting2) => { %>
              <td><%=matchbatting2.sixes%></td>
          <% }); %>
          </tr>
          <tr>
            <th>how out</th>
            <% matchbatting2sejs.forEach((matchbatting2) => { %>
              <td><%=matchbatting2.how_out%></td>
          <% }); %>
          </tr>
          <tr>
            <th>strike rate</th>
            <% matchbatting2sejs.forEach((matchbatting2) => { %>
              <td><%=matchbatting2.strike_rate%></td>
          <% }); %>
          </tr>
          </tbody>
          </table>
          </div>
          <div class="matches table-responsive">
            <table class="table table1 table-bordered">
              <tbody>
          <tr>
            <th colspan="100"><%= matchteamname2ejs %> Bowling</th>
          </tr>
          <tr>
            <th>player name</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.player_name%></td>
          <% }); %>
          </tr>
          <tr>
            <th>Wickets</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.wickets%></td>
          <% }); %>
          </tr>
          <tr>
            <th>dot balls</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.dot_balls%></td>
          <% }); %>
          </tr>
          <tr>
            <th>economy</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.economy%></td>
          <% }); %>
          </tr>
          <tr>
            <th>extras</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.extras%></td>
          <% }); %>
          </tr>
          <tr>
            <th>fours</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.fours%></td>
          <% }); %>
          </tr>
          <tr>
            <th>sixes</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.sixes%></td>
          <% }); %>
          </tr>
          <tr>
            <th>maidens</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.maidens%></td>
          <% }); %>
          </tr>
          <tr>
            <th>overs</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.overs%></td>
          <% }); %>
          </tr>
          <tr>
            <th>runs conceded</th>
            <% matchbowling2sejs.forEach((matchbowling2) => { %>
              <td><%=matchbowling2.runs_conceded%></td>
          <% }); %>
          </tr>
        </tbody>
      </table>
    </div>
    

    <div class="matches table-responsive">
      <table class="table table1 table-bordered">
        <tbody>
          <tr>
            <th colspan="100">last 18 balls</th>
          </tr>
          <tr>
            <th>current over</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
            <td><%= matchlast18balls.currentOver %></td>
            <% }); %>
          </tr>
          <tr>
            <th>current over ball</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.currentOverBall %></td>
              <% }); %>
          </tr>
          <tr>
            <th>is boundary</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.isBoundary %></td>
              <% }); %>
          </tr>
          <tr>
            <th>is bye</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.isBye %></td>
              <% }); %>
          </tr>
          <tr>
            <th>is dismissal</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.isDismissal %></td>
              <% }); %>
          </tr>
          <tr>
            <th>is legbye</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.isLegBye %></td>
              <% }); %>
          </tr>
          <tr>
            <th>is maiden</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.isMaiden %></td>
              <% }); %>
          </tr>
          <tr>
            <th>is noball</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.isNoBall %></td>
              <% }); %>
          </tr>
          <tr>
            <th>is over end</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.isOverEnd %></td>
              <% }); %>
          </tr>
          <tr>
            <th>is wide</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.isWide %></td>
              <% }); %>
          </tr>
          <tr>
            <th>runs</th>
            <% matchlast18ballssejs.forEach((matchlast18balls) => { %>
              <td><%= matchlast18balls.runs %></td>
              <% }); %>
          </tr>
        </tbody>
      </table>
     </div>


    <footer class="white-section" id="footer">
        <div class="container-fluid">
        <i class="fab fa-twitter social-icon"></i>
        <i class="fab fa-facebook social-icon"></i>
        <i class="fab fa-instagram social-icon"></i>
        <i class="fas fa-envelope social-icon"></i>
        <p class="copyright">© Copyright 2021 CRICK_TECH</p>
        </div>
      </footer>
  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="javascript\main.js" charset="utf-8"></script>
</body>
</html>